sft-llava-1.5-7b-hf/runs/Jul09_21-52-02_152-67-111-71/*
sft-meta-llama-3.2-11b-vision-instruct/runs/*
sft-meta-llama-3.2-11b-vision-instruct/run_logs/*
wandb/*
sft-meta-llama-3.2-11b-vision-instruct/*
training_data_images/*
sft-meta-llama-3.2-11b-vision-instruct-20250712_050440/*
sft-meta-llama-3.2-11b-vision-instruct-20250712_050546/*
training_outputs/*
prm_training_data_full_v0/*
cache/*
prm-training-data-qwen/*
.env
.env.pbs
local_saved_datasets/*
pbs_queue_logs/*